### String slicer

In [1]:
s='kumar'

In [3]:
s[0:4:2]

'km'

In [5]:
s[::-1]  # Reversing the string

'ramuk'

In [6]:
id(s)

2052582378160

### List

In [9]:
k=[] # List

In [10]:
type(k)

list

In [11]:
m=list()

In [12]:
type(m)

list

In [15]:
l=[1,2,3,'hari',4+5j,[1,2,3,'mnop']] # list inside the list

In [16]:
l[5][3]

'mnop'

### range

In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(10,3))

[]

In [4]:
list(range(10,3,-1))

[10, 9, 8, 7, 6, 5, 4]

In [12]:
l=[1,2,3,4,5,6]

s=[]

for i in l:
    s.append (i+2)

In [13]:
s

[3, 4, 5, 6, 7, 8]

In [14]:
# Append- append is a kind of operation by able to insert the data inside the list
# at the end or tail position

In [16]:
l=[1,2,3,4,5,6]

s=[]
.
for i in range(len(l)):  # Range
    s.append (l[i]+2)

In [17]:
s

[3, 4, 5, 6, 7, 8]

In [25]:
l=[1,2,3,4,26,5,6]

s=[]

for i in l:
    if i >=10:
        s.append(i+2)

In [26]:
s

[28]

In [29]:
l=[1,2,3,4,26,5,6,'kumar','arul']
s=[]
for i in l:
    if type(i)== str:
        s.append(i)

In [30]:
s

['kumar', 'arul']

In [31]:
l=[1,2,3,4,26,5,6]
for i in l:
    print(i)
else:
    print('there is no container')

1
2
3
4
26
5
6
there is no container

In [35]:
m=10
y=0                # While loop
r=1
while r<=m:
    y=y+r
    r+=1
    print(y)
print(y)

1
3
6
10
15
21
28
36
45
55
55

In [37]:
for x in "kumar":
    if x == "a":
        break
    print(x)

k
u
m

In [39]:
for x in "kumar":
    if x == "a":
        break
    print(x)
else:    # untill the for loop condition exhaust it wont come to else statment
    print('not compleated')

k
u
m

In [40]:
for x in "kumar":
    if x == "a":
        continue # it goes to master loop and it not stop the loop
    print(x)
else:    
    print('not compleated')

k
u
m
r
not compleated

### inbuild function for string

In [1]:
s='kumar'

In [3]:
s.upper()

'KUMAR'

In [4]:
s.lower()

'kumar'

In [5]:
l='my name is kumar'

In [7]:
l.split()

['my', 'name', 'is', 'kumar']

In [9]:
m='arulkumarmech@gmail@kumar@myname'

In [11]:
m.split('@')# Delimeter is not part of seperation
            # seperate the data all the occurance of delimeter
            # Result will be string Data type

['arulkumarmech', 'gmail', 'kumar', 'myname']

In [12]:
m.partition('@')  # Delimeter is part of seperation
                  # seperate the data only first occurance of delimeter
                  # Result will be tuple

('arulkumarmech', '@', 'gmail@kumar@myname')

In [1]:
r='adbeuffifiofhf'

In [3]:
r.find('f')  # if the data is not valid it will give -1 in string find

5

In [16]:
t='kum'

In [18]:
t.center(50,'s')

'ssssssssssssssssssssssskumssssssssssssssssssssssss'

In [19]:
'kumar\tfhfhfk\tdd.k\t'.expandtabs()

'kumar   fhfhfk  dd.k    '

In [20]:
'my name is {} kumar'.format('arul')

'my name is arul kumar'

In [23]:
a=input('please give your first name')
b=input('please give your first name')

'my name is {} {}'.format(a,b)

please give your first namearul
please give your first namekumar

'my name is arul kumar'

In [4]:
s='shh3444'

In [5]:
s.isalnum()

True

In [27]:
s.isnumeric()

False

In [29]:
s.istitle()

False

In [30]:
s.endswith('m')

False

### Inbuild function for list

In [36]:
a=[1,2,3,4,'kumar','arul',4.565,[3,4,5]]
b=[1,2,3,4,'my name']

In [38]:
m=[]
for i in (a,b):
    m.append(i)
m

[[1, 2, 3, 4, 'kumar', 'arul', 4.565, [3, 4, 5]], [1, 2, 3, 4, 'my name']]

In [37]:
a+b

[1, 2, 3, 4, 'kumar', 'arul', 4.565, [3, 4, 5], 1, 2, 3, 4, 'my name']

In [39]:
list('kumar')

['k', 'u', 'm', 'a', 'r']

In [40]:
list(34)

TypeError: 'int' object is not iterable

In [19]:
list([34])

[34]

In [42]:
list([34])

[34]

In [43]:
b.append('sdtgh') # append can insert the data in end or tail

In [45]:
b

[1, 2, 3, 4, 'my name', 'sdtgh']

In [47]:
b.insert(4,'skjg') # insert can insert the data i any location 
b

[1, 2, 3, 4, 'skjg', 'skjg', 'my name', 'sdtgh']

In [48]:
b.insert(-1,'aaa')
b

[1, 2, 3, 4, 'skjg', 'skjg', 'my name', 'aaa', 'sdtgh']

In [49]:
b.pop() # remove the data from end permenantly

'sdtgh'

In [50]:
b

[1, 2, 3, 4, 'skjg', 'skjg', 'my name', 'aaa']

In [52]:
b.pop(2)

3

In [53]:
b

[1, 2, 4, 'skjg', 'skjg', 'my name', 'aaa']

In [54]:
b[::-1]

['aaa', 'my name', 'skjg', 'skjg', 4, 2, 1]

In [55]:
b.reverse()

In [56]:
b

['aaa', 'my name', 'skjg', 'skjg', 4, 2, 1]

In [57]:
n=[1,23,4,5,'jhdufhj','hghjfhj']

In [58]:
n.sort() # only the data will be string or list it will work 
n

TypeError: '<' not supported between instances of 'str' and 'int'

In [6]:
r=['fdiuu','yfgyruu','asdf']

In [7]:
r.sort()
r

['asdf', 'fdiuu', 'yfgyruu']

In [8]:
f=[1,2,3,4]
f.sort()
f

[1, 2, 3, 4]

In [9]:
f=[1,2,3,4]
f.sort(reverse=True)
f

[4, 3, 2, 1]

In [20]:
a=[3,4,5,6,7]
b=[4,5,6,7,8]
c=[7,8,9,4,5]

d=[a,b,c]
d

[[3, 4, 5, 6, 7], [4, 5, 6, 7, 8], [7, 8, 9, 4, 5]]

In [22]:
d[2][::3]

[7, 4]

In [23]:
s=d[::-1] # Reversal of lis
s

[[7, 8, 9, 4, 5], [4, 5, 6, 7, 8], [3, 4, 5, 6, 7]]

In [24]:
m=[]
for b in s:
    m.append(b[::-1]) #Rverse inside the list
m

[[5, 4, 9, 8, 7], [8, 7, 6, 5, 4], [7, 6, 5, 4, 3]]

In [25]:
l=[]
for b in s:
    l.append(b[::-1])

In [26]:
l

[[5, 4, 9, 8, 7], [8, 7, 6, 5, 4], [7, 6, 5, 4, 3]]

In [11]:
m

[[5, 4, 9, 8, 7], [8, 7, 6, 5, 4], [7, 6, 5, 4, 3]]

In [27]:
m[2]

[7, 6, 5, 4, 3]

In [14]:
r=[] # indexing only 2nd value from all the list
for i in m:
    r.append(i[2])
r

[9, 6, 5]

In [15]:
[i[2]for i in m]  # List compherience

[9, 6, 5]

In [28]:
a=[1,2,3,4]
b=[5,6,7,8]
c=[8,9,2,3]

In [31]:
d=a,b,c
d

([1, 2, 3, 4], [5, 6, 7, 8], [8, 9, 2, 3])

In [34]:
t=[]
for i in d:
    t.append(i[2])

In [35]:
t

[3, 7, 2]

In [37]:
[i[2]*2 for i in d ]

[6, 14, 4]

In [16]:
a=[1,2,3,4,5]

In [18]:
a.append([8,9,56])  # Append function
a

[1, 2, 3, 4, 5, [8, 9, 56]]

In [19]:
t=[2,3,4,5,'fk','fef']

In [20]:
t.extend([45,5,8,'fif','fshf']) # Extend function is ravel data and insert it. 
t

[2, 3, 4, 5, 'fk', 'fef', 45, 5, 8, 'fif', 'fshf']

In [21]:
m=[1,2,3,5]

In [23]:
m.index(8)  # if the data is not valid it will through an error

ValueError: 8 is not in list

### Tuple

In [25]:
t=(1,2,3,4,'dft',4.5)

In [26]:
type(t)

tuple

In [27]:
t[::-1]

(4.5, 'dft', 4, 3, 2, 1)

In [35]:
s=(1,2,3,4)

In [36]:
type(s)

tuple

In [37]:
for i in s:
    print(i)

1
2
3
4

In [38]:
l=[1,2,3]

In [39]:
for s in l:
    print(s)

1
2
3

In [55]:
m=(1,2,3,4)

In [56]:
e=list(m)

In [57]:
e.insert(0,"kumar")

In [58]:
e

['kumar', 1, 2, 3, 4]

In [59]:
tuple(e)

('kumar', 1, 2, 3, 4)

### SETS

In [1]:
# Set is a kind of data streacture it always remove the duplicate values
# Set is homogeneous and heterogenious dataset
# slicing and indexing is not support in sets
# if we want to access the data set by looping
# the set output is {}

In [4]:
m=set([1,2,3,4,5,6,6,7,1,2,3,3,3,4,5,2,5,'kumar','Kumar'])

In [5]:
m

{1, 2, 3, 4, 5, 6, 7, 'Kumar', 'kumar'}

In [6]:
m[0]

TypeError: 'set' object is not subscriptable

In [9]:
for i in m:
    print(i)

1
2
3
4
5
6
7
kumar
Kumar

In [10]:
s={1,2,3,3,4,2,3}

In [11]:
type(s)

set

In [12]:
s.pop() # without argument it will pop up the first element

1

In [13]:
s.pop(2) # with argument it will not work

TypeError: pop() takes no arguments (1 given)

In [14]:
# in set without argument it will pop()
# in set it will not accecpt the argument in pop
# in list it will accecpt the argument in pop
# set never gives sorted data set

In [22]:
r={1,2,3,4,511,4,2,3,'kumar','arul'}

In [24]:
r=set()

{1, 2, 3, 4, 511, 'arul', 'kumar'}

### Dictinory

In [31]:
m={3,4} # ---- if any element is passed inside the {} it is set

In [33]:
type(m)

set

In [34]:
t={} #-there is no element is passed inside the {} it is dictionary

In [35]:
type(t)

dict

In [36]:
b={'name':'kumar'}

In [37]:
b

{'name': 'kumar'}

In [38]:
# Key: integer,floting,string
# it never allows duplicate values for key
#--#,@-special character are not accecpted as key, pass the special character in'#'
# Dictionary never allowes indexing

In [1]:
f={'key':[1,2,3,4],'key1':(3,4,5,6),'key3':{3,5,6,0},'name':{'type1':657},'type2':'ref'}

In [2]:
f

{'key': [1, 2, 3, 4],
 'key1': (3, 4, 5, 6),
 'key3': {0, 3, 5, 6},
 'name': {'type1': 657},
 'type2': 'ref'}

In [3]:
f['key'][3]

4

In [45]:
for i in f:
    print(f[i])

[1, 2, 3, 4]
(3, 4, 5, 6)
{0, 3, 5, 6}
{'type1': 657}
ref

In [46]:
f.keys()

dict_keys(['key', 'key1', 'key3', 'name', 'type2'])

In [47]:
f.values()

dict_values([[1, 2, 3, 4], (3, 4, 5, 6), {0, 3, 5, 6}, {'type1': 657}, 'ref'])

In [50]:
d=[]
for i in f.values():
    if type(i)== tuple:
        for j in i:
            d.append(j)

In [51]:
d

[3, 4, 5, 6]

In [52]:
d=[]
for i in f.values():
    if type(i)== set:
        for j in i:
            d.append(j)

In [53]:
d

[0, 3, 5, 6]

In [6]:
f['key4']='gjiojgk' # adding data to key

In [7]:
f

{'key': [1, 2, 3, 4],
 'key1': (3, 4, 5, 6),
 'key3': {0, 3, 5, 6},
 'name': {'type1': 657},
 'type2': 'ref',
 'key4': 'gjiojgk'}

In [56]:
g=['kumar','raja','raja']
d={}
for i in g:
    d[i]=i.upper()

In [57]:
d

{'kumar': 'KUMAR', 'raja': 'RAJA'}

In [58]:
g=['kumar','raja','raja']
d={}
for i in g:
    d[i]=i.isupper()

In [59]:
d

{'kumar': False, 'raja': False}

In [61]:
d={}
for i in range(10):
    d[i]=i**2

In [62]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [67]:
{i:i**2 for i in range(10)}#-- Dictionary comprehesion

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### Function

In [81]:
def test3():
    pass

In [82]:
def test1():
    a=5
    b=6
    print('this is my first function',a+b)

In [83]:
test1()

this is my first function 11

In [84]:
type(test1)

function

In [85]:
def test():
    a=5
    b=6
    return a+b

In [95]:
b

10

In [91]:
b=test()

In [94]:
b+10

20

In [87]:
type(test)

function

In [88]:
def testing():
    a=5
    b=6
    print(a+b)

In [96]:
s=testing()

11

In [97]:
s+10

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [90]:
type(testing())

11

NoneType

In [100]:
# in print the data type will 
#be non so we can't do any operation

In [101]:
# in return data type is has sush as the data we we can perform the operation

In [114]:
def test(a,b):
    return a+b

In [115]:
test(12,13)

TypeError: cannot unpack non-iterable int object

In [104]:
test('arul','kumar')

'arulkumar'

In [105]:
test([1,2,3,4],[4,5,6,7,8])

[1, 2, 3, 4, 4, 5, 6, 7, 8]

In [127]:
def find(a,b):
    return a+b,a*b

In [128]:
x,_=find(10,20)

In [130]:
x

30

In [131]:
y

30

In [108]:
a=1
b=2
c=5
d='kumar'

In [109]:
a,b,c,d=1,2,5,'kumar'

In [110]:
d

'kumar'

In [132]:
def first(a,b='jfiojfk'):
    return a+b

In [133]:
first('kumar')

'kumarjfiojfk'

In [134]:
first('kumar','arul')

'kumararul'

In [14]:
def prime_number(n):
    for i in range(2,n):
        if n%i==0:
            print('number is not a prime number')
            break
    else:
        print("number is a prime number")

In [15]:
prime_number(17)

number is a prime number

In [16]:
def prime_number(n):
    for i in range(2,n):
        if n%i==0:
            return False
            break
    else:
        return True

In [17]:
prime_number(15)

False

In [48]:
for i in 7:
    print(i)

TypeError: 'int' object is not iterable

In [20]:
for i in 7:
    pass

TypeError: 'int' object is not iterable

In [24]:
for i in 'kumar':
    pass

In [22]:
# iterable-one by one we can able to extract the data  from dataset 
#and able to perform operation

In [23]:
# if the objects are already iterable we can do iterate

In [26]:
for i in 'kumar':
    print(i)

k
u
m
a
r

In [29]:
for i in [1,2,3,'kumar']:
    print(i)

1
2
3
kumar

In [31]:
next('kumar')

TypeError: 'str' object is not an iterator

In [32]:
# String is a Iterable object

In [33]:
r=iter('kumar')

In [34]:
type(r)

str_iterator

In [36]:
next(r) # next did not knows last index

'u'

In [37]:
next(12)

TypeError: 'int' object is not an iterator

In [38]:
r=iter(12)

TypeError: 'int' object is not iterable

In [40]:
# if the data is iterable we convert it into iterator
# int object is not iterable
# string is iterable object by default make it iterator

In [41]:
# Generate a new data set by remembering the fact from old data set

In [42]:
range(10)

range(0, 10)

In [43]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [44]:
next(range(10))

TypeError: 'range' object is not an iterator

In [45]:
g=iter(range(10))

In [47]:
next(g)

1

In [49]:
def test(n):
    for i in range(n):
        print(i)

In [51]:
test(5)

0
1
2
3
4

In [56]:
def generatecube(n):
    for i in range(n):
        print(i**3)

In [57]:
generatecube(4)

0
1
8
27

In [58]:
def generatecube(n):
    for i in range(n):
        yield(i**3)

In [62]:
# for creating a generator function instede of using print and return
# use Yield function

In [63]:
generatecube(5)

In [64]:
for i in generatecube(5):
    print(i)

0
1
8
27
64

In [65]:
next(generatecube(5))

0

In [72]:
b=iter(generatecube(5)) # convert iterable into iterator

In [74]:
next(b)

1

In [88]:
def febfi(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b=b ,a+b

In [89]:
febfi(5)

In [90]:
for i in febfi(5):
    print(i)

1
1
2
3
5

In [108]:
def febfi(n):
    a=1
    b=1
    for i in range(n):
        print(a)
        a,b=b,a+b

In [109]:
febfi(5)

1
1
2
3
5

In [139]:
def square(n):
    return(n**2)

In [140]:
square(4)

16

In [142]:
l=[1,2,3,4,5,6]
n=[]
for i in l:
    n.append(square(i))

In [143]:
n

[1, 4, 9, 16, 25, 36]

In [145]:
[i**2 for i in l]

[1, 4, 9, 16, 25, 36]

In [ ]:
def square(n):
    return(n**2)

In [ ]:
l=[2,3,4,5]

In [147]:
list(map(square,l))

[1, 4, 9, 16, 25, 36]

In [148]:
for i in map(square,l):
    print(i)

1
4
9
16
25
36

In [149]:
l

[1, 2, 3, 4, 5, 6]

In [150]:
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25, 36]

In [153]:
c=lambda x : x**2 # Lambda can be store inside the variable

In [154]:
list(map(c,l))

[1, 4, 9, 16, 25, 36]

In [155]:
# map function perform mapping operation in row level and give the value

In [157]:
a=[1,2,3,4,5,6,7]
b=[5,6,7,8,9,0,4]
c=[3,4,5,6,8,3,5,4]

In [158]:
def summation(x,y,z):
    return x+y+z

In [160]:
list(map(summation,a,b,c))

[9, 12, 15, 18, 22, 9, 16]

In [161]:
list(map(lambda x,y,z : x+y+z,a,b,c))

[9, 12, 15, 18, 22, 9, 16]

In [163]:
from functools import reduce

In [164]:
def summ(a,b):
    return a+b

In [165]:
l=[3,4,5,6,7,3]
reduce(summ,l)

28

In [166]:
l=[3,4,5,6,7,3]
reduce(lambda x,y :x+y,l)

28

In [168]:
# Reducing operation it aggregation and reduce the data and it will give the 
# final result
# Reduce will always takes function with 2 argument

In [173]:
l=[1,2,3,6,8,7,8,7]

In [174]:
list(filter(lambda x : x%2 ==0,l))

[2, 6, 8, 8]

In [177]:
def even_check(g):
    if g%2 == 0:
        return True

In [178]:
list(filter(even_check,l))

[2, 6, 8, 8]

### OOP's

In [1]:
class test:
    pass

In [2]:
class person:
    pass

In [3]:
p=person

In [4]:
print(p)

<class '__main__.person'>

In [257]:
class car:
    def __init__(self,brand,colour,doors):
        self.brand_name=brand
        self.colour=colour
        self.door=doors
    def test(self,date,year):
        return date+year+self.door
    def __str__(self):
        return '%s is car name and %s colur of car and %a no.of doors'%(self.brand_name,self.colour,self.door)

In [258]:
kumar=car('audi','red',5)

In [259]:
kumar.brand_name

'audi'

In [260]:
kumar.colour

'red'

In [261]:
tamil=car('maruthi','white',6)

In [262]:
tamil.brand_name

'maruthi'

In [263]:
kumar.brand_name

'audi'

In [264]:
kumar.test(2324,345)

2674

In [265]:
print(kumar)

audi is car name and red colur of car and 5 no.of doors